{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<br>

<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the Mr Black Blog ! Here we'll be tacking about everything computer science... Basic
                frameworks
                , machine learning , other data sceience stuff , any new tech or finding , and pretty much anything
                computer
                science related..</p>
            <p> Go visit our github <a href="/docs/4.3/examples/navbar-static/">Github</a> to check out more cool
                stuff beyond just github</p>

            <a class="btn btn-primary" href="/posts" role="button">Go to Posts
                &raquo;</a>
            </p>
        </div>
    </div>
</main>

{% endblock %}
